@model SupplierUpdateRequestModel
@{
    ViewData["Title"] = "Update";
}

<form asp-action="Update" asp-controller="Supplier" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="CompanyName">Şirket Adı: </label>
        <input type="text" asp-for="CompanyName" class="form-control" />
        <span class="text-danger" asp-validation-for="CompanyName"></span>
    </div>
     <div class="mb-3">
        <label asp-for="Freight">Kargo Ücreti: </label>
        <input type="text" asp-for="Freight" class="form-control" />
        <span class="text-danger" asp-validation-for="Freight"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-outline-info">Güncelle</button>
    </div>
</form>
